# Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/perfectceiling

# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Authentication
AUTH_SECRET=your_auth_secret_here
ADMIN_EMAIL=admin@example.com

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Cloudinary (If used)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
